.up{
  float: left;
  background-image: url("img/upback.png");
  width: 100%;
  height: 150px;
  position: fixed;
}
.up1{
  border-bottom: 1px solid #5858FA;
  width: 100%;
  height: 75%;
}
.up2{
  width: 100%;
  height: 25%;
}
.homee{
  float: left;
  width: 25%;
  height: 100%;
}
.searchh{
  float: left;
  width: 25%;
  height: 100%;
}
.logreg{
  float: left;
  width: 20%;
  height: 100%;
}
.bask{
  float: left;
  width: 30%;
  height: 100%;
}
.homepng{
  float:left;
  margin-top: 30px;
  margin-left: 80px;
  position: absolute;
}
.inpbuts{
  margin-top: 50px;
}
.inp{
  border: 2px solid #3A3A3A;
  border-radius: 3px;
  padding: 5px;
  width: 230px;
  height: 35px;
}
.but{
  float: right;
  margin-right: 65px;
  font-family: sans-serif;
  font-size: 14pt;
  height: 35px;
  width: 40px;
  padding: 3px;
  display: inline-block;
  border: 2px solid #3A3A3A;
  border-radius: 5px;
  background-color: inherit;
  color: white;
}
.lg{
  font-family: sans-serif;
  font-size: 18px;
  float: left;
  margin-top: 50px;
}
.loga{
  color: white;
  margin-left: 10px;
  margin-top: 15px;
  text-decoration: none;
}
.logaa{
  color: white;
  margin-left: 10px;
  margin-top: 50px;
  text-decoration: none;
}
.rega{
  color: white;
  margin-left: 80px;
  text-decoration: none;
}
.baskett{
  float: left;
  color:white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 50px;
}
.mmm{
  font-family: monospace;
  font-size: 12pt;
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
.lols{
  color:green;
  background-color: white;
}
#asd a:hover{
  text-decoration: none;
  color: red;
}
#asd3 a:hover{
  text-decoration: none;
  color: red;
}
.information{

  float: left;
  width: 100%;
  height: 150px;
  margin-top: 35px;
  background-image: url("img/upback.png");
}
.contact{
  margin-left: 100px;
  font-size: 15pt;
  color:white;
}
.contact:hover{
  text-decoration: none;
  color:red;
}
.clubs{
  position: absolute;
  float:left;
  margin-top:150px;
  width: 100%;
  height: 100%;
}
.logpage{
  margin-top: 150px;
  width: 100%;
  height: 100%;
  background-image: url("img/backss.jpg");
  float: left;
  display: block;
}
.inputslog{
  margin-top: 100px;
  margin-left: 500px;
}
.log_in{
  padding: 5px;
  font-family: sans-serif;
  color: red;
  font-size: 13pt;
  font-weight: bold;
  width: 250px;
  height: 30px;
}
.inputslog a{
  font-size: 13pt;
  font-weight: bold;
  font-family: inherit;
  color:red;
}
.logbutton{
  font-family: Arial;
  font-size: 12pt;
  color:red;
  font-weight: bold;
  padding: 7px 15px;
  margin-left: 150px;
  margin-top: 15px;
  background-color: #f44336;
  color:white;
}
.regpage{
  margin-top: 150px;
  width: 100%;
  height: 100%;
  background-image: url("img/backss.jpg");
  float: left;
  display: block;
}
.regpage input{
  font-size: 14px;
  font-family: sans-serif;
  color: red;
  font-weight: bold;
  padding: 5px;
  margin-left: 600px;
  width: 210px;
  height: 30px;
  margin-top: 10px;
}
.how{
  padding: 5px;
  font-family: fantasy;
  font-size: 15px;
  color: red;
}
.post {
  position:fixed;
  top:20%;
  left:50%;
  z-index:602;
  width:400px;
  background:#efefef;
  border: 1px solid #ccc;
  padding:10px 20px;
  border-radius:10px;
  margin-left:-210px;
  display:none;
}
#gopost {
  width:100%;
  height:100%;
  position:fixed;
  top:0;left:0;
  background:black;
  display:none;
  z-index:600;
  opacity:0.3;
}
.leftempty{
  background: url('img/back2.jpg');
  background-repeat: repeat-y;
  float: left;
  width: 15%;
  height: 100%;
}
.rightempty{
  background: url('img/back2.jpg');
  background-repeat: repeat-y;
  float: left;
  width: 15%;
  height: 100%;
}
.middle{
  float: left;
  width: 70%;
  height: 100%;
}
